# Database
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/authfoundry?schema=public"

# NextAuth
NEXTAUTH_SECRET="change-me-to-a-random-secret-at-least-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Resend (transactional email)
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@authfoundry.dev"

# App
NEXT_PUBLIC_APP_NAME="AuthFoundry"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
